@page "/dev"
@using RugbyFinder.Shared
@using AspNetMonsters.Blazor.Geolocation
@inject LocationService  LocationService
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager MyNavigationManager

<h4>@Key</h4>
<div class="container">
    <button class="btn btn-primary" @onclick="MyThrowException">Throw Exception</button>
</div>
<div class="container">
    <button class="btn btn-primary" @onclick="UnregisterKey">Delete Key</button>
</div>

@code {
    public string Key { get; set; }

    public async Task MyThrowException()
    {
        try
        {
            throw new Exception();
        }
        catch (Exception ex)

        {
            var ags = new ExceptionArgs()
            {
                Myexception = ex.InnerException + ex.Message + ex.Source + ex.StackTrace,
                Key = Key
            };
            await Http.PostAsJsonAsync("Exception", ags);
            throw;
        }
    }

    public async Task UnregisterKey()
    {
        await localStorage.SetItemAsync("key", "");
    }
    protected override async Task OnInitializedAsync()
    {
        Key = await localStorage.GetItemAsync<string>("key");

    }


}
