@page "/upload-files"
@using System.Linq
@using Microsoft.Extensions.Logging
@using RugbyFinder.Shared.Model.Return
@inject HttpClient Http
@inject ILogger<UploadFiles> logger
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager


<h1>Upload Files</h1>

<p>
    <label>
        Upload a profile video:
        <InputFile OnChange="@OnInputFileChange" />
    </label>
    @Status
</p>

@if (files.Count > 0)
{
    <div class="card">
        <div class="card-body">
            <p>@Status</p>
        </div>
    </div>
}

@code {
    private IList<File> files = new List<File>();
    private IList<UploadResult> uploadResults = new List<UploadResult>();
    private int maxAllowedFiles = 1;
    private bool shouldRender;
    public string Status { get; set; } = "When you post the file, the upload will start, but the UI won't update. When the upload is done, you'll be redirecte"
            +"back to the home page where you can see your video, if the upload was successful.";

    protected override bool ShouldRender() => shouldRender;

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        //TODO:https://stackoverflow.com/questions/65752190/upload-a-file-in-background-with-blazor-webassembly
        Status = "Uploading video... this could take a while...";

        this.StateHasChanged();
        await Task.Delay(100);
        shouldRender = false;
        long maxFileSize = 1024 * 1024 * 15;
        var upload = false;

        using var content = new MultipartFormDataContent();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            logger.LogInformation($"client processing {file.Name} of type {file.ContentType}");
            if (uploadResults.SingleOrDefault(
                f => f.FileName == file.Name) is null)
            {
                var fileContent = new StreamContent(file.OpenReadStream(maxAllowedSize: maxFileSize));

                files.Add(
                    new File()
                    {
                        Name = file.Name,
                    });

                if (file.Size < maxFileSize)
                {
                    var key = await localStorage.GetItemAsync<string>("key");

                    content.Add(
                    content: fileContent,
                    name: "\"files\"",
                    fileName: key);

                    upload = true;
                }
                else
                {
                    logger.LogInformation("{FileName} not uploaded", file.Name);

                    uploadResults.Add(
                        new UploadResult()
                        {
                            FileName = file.Name,
                            ErrorCode = 6,
                            Uploaded = false,
                        });
                }
            }
        }

        if (upload)
        {

            var response = await Http.PostAsync("/Filesave", content);

            var newUploadResults = await response.Content
                .ReadFromJsonAsync<IList<UploadResult>>();

            uploadResults = uploadResults.Concat(newUploadResults).ToList();
            Status = "Upload Complete";
            NavigationManager.NavigateTo("/");
        }

        shouldRender = true;
    }



    private class File
    {
        public string Name { get; set; }
    }
}