@using AspNetMonsters.Blazor.Geolocation
@using BlazorApp2.Shared
@inject LocationService  LocationService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@page "/messagesinbox"
<h3>Messages</h3>

@code {
    
    
    protected override async Task OnInitializedAsync()
    {
  
    }
}
