@page "/photoupload"
@using BlazorApp2.Shared
@using AspNetMonsters.Blazor.Geolocation
@inject LocationService  LocationService
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager MyNavigationManager

<h3>PhotoUpload</h3>

@code {

}
