@using BlazorApp2.Shared
@using AspNetMonsters.Blazor.Geolocation
@inject LocationService  LocationService
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager MyNavigationManager

@page "/teams"
<h3>Teams</h3>


@functions
 {
    IEnumerable<TeamModel>
    teams = new TeamModel[0];
    string guidstring = string.Empty;
    protected override async Task OnInitializedAsync()
    {
    #if DEBUG

    await Task.Delay(5000);
    #endif
    var guidstring = await localStorage.GetItemAsync<string>("guid");
    teams = await Http.GetFromJsonAsync<IEnumerable<TeamModel>>($"teams/{guidstring}");
    }
}
