@using AspNetMonsters.Blazor.Geolocation
@using BlazorApp2.Shared
@inject LocationService  LocationService
@inject HttpClient Http
@page "/teamprofile/{id:guid}"
<h3>TeamProfile</h3>
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">@tm?.TeamName</h5>
        <h6>@tm?.City.City, @tm?.City.Admin_name, @tm?.City.Country</h6>
        <p class="card-text">@tm?.TeamBio</p>
    </div>
</div>
@code {
    [Parameter]
    public Guid Id { get; set; }
    TeamModel tm;
    protected override async Task OnInitializedAsync()
    {
        //tm = await Http.GetFromJsonAsync<TeamModel>($"teams/profile/{Id}");
        //var test = await Http.GetAsync($"teamprofile/{Id}");
        tm = await Http.GetFromJsonAsync<TeamModel>($"TeamProfile/{Id}");
    }
}
