@using BlazorApp2.Shared
@using AspNetMonsters.Blazor.Geolocation
@using System.Web;
@inject LocationService  LocationService
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager MyNavigationManager

@page "/teams"
<h3>Teams</h3>
@foreach (var p in teams)
{

    <div class="card" style="width: 18rem;">
        <img src="@DefaultIfNone(p.TeamImageURI)" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@p.TeamName</h5>
            <p class="card-text">@p.TeamBio</p>
            <a href="/teamprofile/@p.TeamId" class="btn btn-primary">Profile</a>
        </div>
    </div>
}
@functions
 {
    public IEnumerable<TeamModel> teams { get; set; } = new TeamModel[0];
    public string Key { get; set; }

    protected override async Task OnInitializedAsync()
    {

        Key = await localStorage.GetItemAsync<string>("key");
        teams = await Http.GetFromJsonAsync<IEnumerable<TeamModel>>($"teams/{HttpUtility.UrlEncode(Key)}");
    }
    protected string DefaultIfNone(string img)
    {
        if (string.IsNullOrEmpty(img))
        {
            return "/pics/people.svg";
        }
        else
        {
            return img;
        }
    }
}

